@{
    ViewData["Title"] = "Accueil";
}


<br />
<div class="row">
    <div class="col-xs-4 col-md-3 col-lg-3">
        <img alt="Logo streamclass" width="380" height="200" src="@Url.Content("~/images/logo-streamclass.png")">
    </div>
    <div class="col-xs-4 col-md-6 col-lg-6">
        <div class="text-center">
            <br />
            <h5>N'arrêtez jamais d'apprendre avec</h5>
            <h1 class="display-4 title-accueil">StreamClass</h1>
            <p>Apprentissages personnalisés, cours vidéos et classes virtuelles spécialisés en développement informatique et infrastructure</p>
        </div>
    </div>
    <div class="col-xs-4 col-md-3 col-lg-3">
        <br />
        <br />
        <img width="220" height="100" src="@Url.Content("~/images/azure.png")">
    </div>
</div>

<div class="text-center">
    <h2>Comment fonctionne StreamClass?</h2>
</div>

<br />

<div class="row">
    <div class="col-xs-4 col-md-3 col-lg-4">
        <div class="box text-center">
            <img alt="Logo streamclass" width="90" height="55" src="@Url.Content("~/images/apprentissage.png")">
            <h4 class="titlebox-accueil">Apprentissage personnalisée</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac ornare leo. Donec eu ullamcorper libero, vitae tempor turpis. Duis vel ipsum a odio interdum rhoncus ultrices sit amet ex. Duis maximus nisl eu mauris molestie, et commodo mi ultricies. Nullam ut finibus metus. Sed at nulla non nisi ultricies eleifend id eget justo.</p>
        </div>
    </div>
    <div class="col-xs-4 col-md-6 col-lg-4">
        <div class="box text-center">
            <img alt="Logo streamclass" width="90" height="55" src="@Url.Content("~/images/cours.png")">
            <h4 class="titlebox-accueil">Cours vidéos en ligne</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac ornare leo. Donec eu ullamcorper libero, vitae tempor turpis. Duis vel ipsum a odio interdum rhoncus ultrices sit amet ex. Duis maximus nisl eu mauris molestie, et commodo mi ultricies. Nullam ut finibus metus. Sed at nulla non nisi ultricies eleifend id eget justo.</p>

        </div>
    </div>
    <div class="col-xs-4 col-md-3 col-lg-4">
        <div class="box text-center">
            <img alt="Logo streamclass" width="90" height="55" src="@Url.Content("~/images/classes.png")">
            <h4 class="titlebox-accueil">Classes virtuelles</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac ornare leo. Donec eu ullamcorper libero, vitae tempor turpis. Duis vel ipsum a odio interdum rhoncus ultrices sit amet ex. Duis maximus nisl eu mauris molestie, et commodo mi ultricies. Nullam ut finibus metus. Sed at nulla non nisi ultricies eleifend id eget justo.</p>

        </div>
    </div>
</div>

<br />

<div class="text-center">
    <button type="button" class="btn btn-primary btn-lg">Démarrer votre apprentissage</button>
</div>